/* Если атрибут есть, применяем стили мгновенно */
html[data-ext-maxWidth] body {
  /* Используем переменную из JS, если она есть, иначе 1920px */
  max-width: var(--ext-max-width-val, 1920px) !important;
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative;
}

html[data-ext-hideAnimationWave] [class^='VibeWidgetAnimation_root'] canvas {
  display: none !important;
}

html[data-ext-hideInstallApp] [class^='NavbarDesktopAnimatedBar_root'] {
  display: none !important;
}

html[data-ext-hideAI] [class^='VibePage_words__'] {
  display: none !important;
}

html[data-ext-hideAI] [class^='VibePage_playerBlock__'] {
  flex: 0 0 10rem;
}

html[data-ext-hideMyWave] [title='Моя волна'] {
  display: none !important;
}

html[data-ext-hideCarousel] section[aria-label='Рекомендации моей волны'] {
  display: none !important;
}

html[data-ext-hideCarousel] [class^='VibePlayerBar_root__'] {
  width: 100%;
}

/* Эффект размытия для фона, если включена обложка */
html[data-ext-backgroundImage] [class^='VibeBlock_root'] {
  transition: background-image 0.5s ease-in-out;
  backdrop-filter: blur(20px);
}
